.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #dfe8f0;
    background-color: purple;
}
.text-table{
    
    color: purple;
    border-style: solid;
    border-color: rgb(240, 229, 240);
    font-size: 1.2rem;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-page.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root {
    background-color: white;
    color: purple;
    border: 1px solid purple;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-previousNext.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root{
    background-color:white;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-previousNext.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root:hover{
    background-color:purple;
    color: white;

}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-previousNext.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root:hover svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPaginationItem-icon.css-n8417t-MuiSvgIcon-root-MuiPaginationItem-icon{
    color: white;

}

.MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root{
    color: purple;
    border-style: solid;
    border-color: purple;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPaginationItem-icon.css-n8417t-MuiSvgIcon-root-MuiPaginationItem-icon{
    color: purple;
}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 50%;
    margin: 20px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: purple;
    border-width: 2px;
}
fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: rgb(240, 229, 240);
    border-width: 2px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: purple;
}
label#outlined-basic-label {
    color: purple;
    font-size: 20px;
    font-weight: 200;
    line-height: 20px;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-page.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root:hover{
    background-color: purple;
    color: white;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-page.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root:focus{
    background-color: white;
    color: purple;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.Mui-selected.MuiPaginationItem-page.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root{
    background-color: purple;
    color: white;
}
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    color: purple;
    font-size: 1.5rem;
}


/* -------------------------------------------------------------------------------------- */

.MuiFormControl-root.MuiTextField-root.css-i44wyl{
    width: 50%;
    margin: 20px;
}


fieldset.MuiOutlinedInput-notchedOutline.css-igs3ac {
    border-color: rgb(240, 229, 240);
    border-width: 2px;
}
.css-1v4ccyo:hover fieldset.MuiOutlinedInput-notchedOutline.css-igs3ac{
    border-color: purple;
}
/* .css-1v4ccyo:focus fieldset.MuiOutlinedInput-notchedOutline.css-igs3ac{
    border-color: purple;
} */
.css-1v4ccyo.Mui-focused fieldset.MuiOutlinedInput-notchedOutline.css-igs3ac {
    border-color: purple;
    border-width: 2px;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1v4ccyo {
    font-size: 1.2rem;
    color: purple;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.Mui-selected.MuiPaginationItem-page.css-189vk5p {
    background: purple;
    color: white;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-page.css-189vk5p {
    color: purple;
    border: 2px solid purple;
}


button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-page.css-189vk5p:hover{
    background: purple;
    color: white;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPaginationItem-icon.css-1qz46so {
    color: purple;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-previousNext.css-189vk5p:hover{
    background-color: purple;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-previousNext.css-189vk5p:hover svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPaginationItem-icon.css-1qz46so{
    color: white;
}

.MuiFormControl-root.MuiTextField-root.input_page.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 15%;
    margin-bottom: 5px;
}
nav.MuiPagination-root.MuiPagination-outlined.css-1oj2twp-MuiPagination-root {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 20px;
}